<div class="sc-fBWQee hMpFiG __pf __pf_3XTZPB8c" id="__pf"><div data-pf-type="Body" class="sc-kzqdYt kOLxBk pf-4_"><div data-pf-type="Layout" class="sc-ecPDsT dGTJHM pf-5_"><div data-section-id="pf-05f5" data-pf-type="Section" class="sc-YysaK kYyPCk pf-6_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-ktPOXr dplAGv"><div class="sc-jXbVAB kNtuek pf-7_ pf-r pf-r-eh" style="--s-xs:8px;--s-sm:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-bDoQz cmNGeH pf-8_"><h3 data-pf-type="Heading2" class="sc-cmaqZA fXrIOS pf-9_ pf-heading-1-h3">Exciting Changes Are Coming!</h3><p class="sc-kAkozD iOjmJ pf-11_ pf-text-1" data-pf-type="Paragraph3">We’re working hard to bring you a fresh new look. Stay tuned for an improved experience that we can't wait to share with you.&nbsp;Check back soon!</p><div data-pf-type="Form2" class="sc-lpZBB khBTsV pf-13_">{% form "customer"   %} {% assign isErrorMessaageDisplayed = false %}{% for field in form.errors %}
				{% if field == "form" %}<p class="sc-bSiGZQ fNsjIe">Sorry, the submission can not be sent! Please try again later!</p>{{ form.errors.messages[field] }}
				{% endif %}
				{% if form.errors.messages[field] contains "can't be blank." %}<p class="sc-bSiGZQ fNsjIe">Field can not be blank</p>{% else %}{% if isErrorMessaageDisplayed == false %}<p class="sc-bSiGZQ fNsjIe">Sorry, the submission can not be sent! Please try again later!</p> {% assign isErrorMessaageDisplayed = true %}{% endif %}{% endif %}
				{% endfor %}
				{% if form.posted_successfully? %}<p class="sc-bSiGZQ fNsjIe">Thank you for your submissions!</p>{% elsif form.posted_successfully? == false and form.email.size > 0 and form.errors == null  %}<p class="sc-bSiGZQ fNsjIe">Sorry, the submission can not be sent! Please try again later!</p>{% endif %}<div class="sc-jXbVAB kNtuek pf-14_ pf-r pf-r-eh" style="--s-xs:8px;--s-sm:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-href="https://api.whatsapp.com/send/?phone=%2B971544672800" data-target="_blank" data-pf-type="Column" class="sc-bDoQz cmNGeH pf-31_"><a data-pf-type="Button2" class="sc-gFVuLS iEwmk pf-30_ pf-button-1 animate-grow">ORDER NOW&nbsp;</a></div></div></div>{% endform %}</div></div></div></div></div></div></div></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"Coming Soon","pageType":"password","pageId":"58162214-a84b-4517-8d86-93f07acf3368","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.14.2","shopDomain":"b4ad84-2.myshopify.com","elementData":{},"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/4.14.2/core/helper.js" defer></script>
{% schema %}
{
  "name": "PageFly Password Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://b4ad84-2.myshopify.com/admin/apps/pagefly/editor?id=58162214-a84b-4517-8d86-93f07acf3368&type=password)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}